@using DemoApplication.Areas.Admin.ViewModels.MainSlider
@model List<ListViewModel>

<section class="hero-area hero-slider-1">
    <div class="sb-slick-slider" data-slick-setting='{
                            "autoplay": true,
                            "fade": true,
                            "autoplaySpeed": 3000,
                            "speed": 3000,
                            "slidesToShow": 1,
                            "dots":true
                            }'>
        <div class="single-slide bg-shade-whisper  ">
            <div class="container">
                <div class="home-content text-center text-sm-left position-relative">
                    <div class="hero-partial-image image-right">
                        <img src="~/@Model[0].ImageURL" alt="">
                    </div>
                    <div class="row no-gutters ">
                        <div class="col-xl-6 col-md-6 col-sm-7">
                            <div class="home-content-inner content-left-side">
                                <h1>
                                    @Model[0].MainTitle
                                </h1>
                                <h2>@Model[0].Content</h2>
                                <a href="@Model[0].ButtonURL" class="btn btn-outlined--primary">
                                    @Model[0].ButtonName
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slide bg-ghost-white">
            <div class="container">
                <div class="home-content text-center text-sm-left position-relative">
                    <div class="hero-partial-image image-left">
                        <img src="~/@Model[1].ImageURL" alt="">
                    </div>
                    <div class="row align-items-center justify-content-start justify-content-md-end">
                        <div class="col-lg-6 col-xl-7 col-md-6 col-sm-7">
                            <div class="home-content-inner content-right-side">
                                <h1>
                                    @Model[1].MainTitle
                                </h1>
                                <h2>@Model[1].Content</h2>
                                <a href="@Model[1].ButtonURL" class="btn btn-outlined--primary">
                                    @Model[1].ButtonName
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>